<html>
  <head>
    <link href="/css/application.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <form action="" method="">
      <input type="text" placeholder="Enter the URL you would like to 'shorten'" name="old_url" id="urlText">
      <input type="submit" value="Shorten" id="scoobydoo">
    </form>
  </body>
</html>
