<html>
  <head>
    <link href="/css/application.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <section>
      <% if flash[:error] %>
        <p class="error"><%= flash[:error] %></p>
      <% end %>
      <form action="/<%= :id %>" method="post">
        <input type="text" placeholder="Enter the URL you would like to 'shorten'" name="original" id="urlText" autofocus="autofocus">
        <input type="submit" value="Shorten" id="scoobydoo">
      </form>
    </section>
  </body>
</html>
