<html>
  <head>
    <link href="/css/application.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <section>
      <form action="/" method="post">
        <input type="text" placeholder="Enter the URL you would like to 'shorten'" name="old_url" id="urlText">
        <input type="submit" value="Shorten" id="scoobydoo">
      </form>
    </section>
  </body>
</html>
