<html>
  <head>
    <link href="../css/application.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <section>
      <table>
        <tr>
          <td class="strong first">Original URL</td>
          <td><%= original %></td>
        </tr>
        <tr>
          <td class="strong first">Shortened URL</td>
          <td><a href="<%= original %>" id="short"><%= new_url %></a></td>
        </tr>
      </table>
      <a href="/" alt="'Shorten' another URL" class="center">'Shorten' another URL</a>
      </section>
  </body>
</html>
