<html>
  <head>
    <link href="/css/application.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <table>
      <tr>
        <td class="strong">Original URL</td>
        <td></td>
      </tr>
      <tr>
        <td class="strong">'Shortened' URL</td>
        <td></td>
      </tr>
    </table>
    <a href="/" alt="">"Shorten" another URL</a>
  </body>
</html>
