<html>
  <head>
    <link href="../css/application.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <section>
      <table>
        <tr>
          <td class="strong first">Original URL</td>
          <td>sdfsdf</td>
        </tr>
        <tr>
          <td class="strong first">'Shortened' URL</td>
          <td>sdfsdf</td>
        </tr>
      </table>
      <a href="/" alt="'Shorten' another URL" class="center">"Shorten" another URL</a>
      </section>
  </body>
</html>
